@CHARSET "UTF-8";

@font-face {
    font-family: Stylo;
    src: url("../fonts/Stylo.ttf");
}

@font-face {
    font-family: Gagalin;
    src: url("../fonts/gagalin.otf");
}

HTML {
    height: 100%;
}

HTML, BODY {
	padding: 0px;
	margin: 0px;
}

* {
	outline: 0;
}

BODY {
	background: #FCF0BD;
    color: #120A8F;
}

#header {
	width: 99%;
	height: 7%;
    max-height: 75px;
    padding: 0.5%;
	
    background: #FDD212;
    box-shadow: 0px 0px 10px black;
    
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#logo {
	float: left !important;
}

#header img {
	height: 100%;
} 

#sign-controls {
    position: relative;
    height: 100%;
    float: right;
    padding-left: 20px;
}

#content {
    position: relative;
}

.nice-input-container {
    width: 100%;
    margin: 7px;
    padding: 10px;

    text-align: center;

    border: solid 3px #FDD212;
    border-radius: 15px;

    background: inherit;
}

.nice-input-container * {
	height: 100%;
}

.nice-input-container[ui-focused] {
    border-color: #120A8F;
    color: #120A8F;
}

.nice-input-container[ui-invalid] {
    border-color: #FF1500;
    color: #BF0C00;
}

.nice-input-input {
    width: 100%;
    font-size: 85%;

    border: solid 0px white;
    background: inherit;
    color: inherit;
}

.nice-input-hint {
    width: auto;
    position: relative;
    font-size: 100%;
    background: inherit;
    color: rgba(18, 10, 143, 0.75);
}

.nice-input-hint[shifted] {
    color: #FDD212;
}

.nice-input-hint[shifted][ui-focused] {
    color: #120A8F;
}

.nice-input-hint[ui-invalid] {
    color: inherit;
}

.nice-input-hint[ui-invalid][shifted] {
    color: #FF1500;
}

@keyframes sign-control-rotation {
    to {
       transform: rotate(360deg);
    }
}

@keyframes scroll-arrow-up-rotation {
    to {
        transform: rotate(180deg);
    }
}

@keyframes scroll-arrow-down-rotation {
    from { 
        transform: rotate(180deg);
    }
    
    to {
        transform: rotate(0deg);
    }
}