@CHARSET "UTF-8";

#loading-tools {
    position: relative;
    height: 100%;
    float: right;
    padding-left: 20px;
    cursor: pointer;
}

#loading-block {
	position: fixed;
	z-index: 9;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.85);
	flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

#loading-image {
	width: 10%;
	margin: auto;
	height: auto;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    from { 
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#content {
	
}

#content > DIV {
    padding: 1%;
}

#options {
    width: 18%;
    max-width: 300px;
    background: #F9E8A2;	
    box-shadow: 0px 0px 5px black;
    float: left;
}

#bgcolor-container {
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 5%;
    padding: 0px;
    padding-bottom: 2%;
    background: #F7D962;
}

#bgcolor-title {
    background: #F7D962;
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 94%;
    padding: 3%;
    padding-bottom: 1%;
    display: block;
    text-align: center;
}

#bgcolor-content {
	height: 0px;
	background: #F9E389;
	width: 100%;
    border-radius: 0px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

#bgcolor-picker {
	padding: 5%;
	width: 90%;
	height: 90%;
	overflow: hidden;
}

#bgcolor-picker> CANVAS {
    border-radius: 50%;
    border: solid 2px #120A8F;
    overflow: hidden;
}

#texteditor-container[disabled] {
	background: #C0C0C0;
	color: black;
	box-shadow: 0px 0px 3px black;
	opacity: 0.5;
}

#texteditor-container[disabled] #texteditor-title {
	background: #C0C0C0;
}

#texteditor-container {
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 5%;
    padding: 0px;
    padding-bottom: 2%;
    background: #F7D962;
}

#texteditor-title {
	background: #F7D962;
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 94%;
    padding: 3%;
    padding-bottom: 1%;
    display: block;
    text-align: center;
}

#texteditor-content {
	background: #F9E389;
    width: 100%;
    border-radius: 0px;
    border-bottom-right-radius: 20px;
    
    overflow: hidden;
}

#texteditor-content > DIV {
	padding: 5%;
} 

#texteditor-value {
	width: 90%;
	padding: 5%;
	
	font-size: 120%;
	
	border: solid 2px #120A8F;
	border-radius: 25px;
	background: #FCF0BD;
    color: #120A8F;
    resize: none; 
}

#texteditor-picker {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#texteditor-picker > CANVAS {
    border-radius: 50%;
    border: solid 2px #120A8F;
}

#texteditor-font {
	padding: 5px;
	border-radius: 0px;
	border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 0px;
    border: solid 2px #120A8F;
    background: #FCF0BD;
    color: #120A8F;
}

#texteditor-size {
	padding: 5px;
    border-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0px;
    border: solid 2px #120A8F;
    background: #FCF0BD;
    color: #120A8F;
}

#texteditor-controls > BUTTON {
	width: 100%;
	padding: 5%;
	font-size: 100%;
	margin-top: 5%;
	border: solid 2px #120A8F;
    border-radius: 25px;
    background: #F7D962;
    box-shadow: 1px 1px 3px #120A8F;
    color: #120A8F;
}

#bench {
    position: absolute;	
}

#segments {
	width: 28%;
	max-width: 550px;
	background: #F9E8A2;
	box-shadow: 0px 0px 5px black;
	float: right;
	overflow: hidden;
}

#blank {
	background: white;
	margin: auto;
	box-shadow: 0px 0px 10px black;
	z-index: 3;
}

.segment-container {
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	box-shadow: 0px 0px 5px black;
	margin-bottom: 3%;
	padding: 0px;
	padding-bottom: 1%;
    background: #F7D962;
}

.segment-list {
	overflow-y: scroll;
    height: 0px;
    background: #F9E389;
    width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
}

.segment-title {
	background: #F7D962;
	border-radius: 0px;
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	width: 96%;
	padding: 2%;
	padding-bottom: 1%;
	display: block;
	text-align: center;
}

IMG.segment {
	margin-left: 10px;
	margin-top: 10px;
}

SPAN.segment {
	display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.dragged-segment {
	position: absolute;
	z-index: 5;
}

.resizable-tools-container {
	position: absolute;
}

.resizable-tool {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

.editable-item {
	display: block;
	position: absolute;
}